__pycache__
*.ipynb
.eggs
dist
anesthetic.egg-info/
plikHM_TTTEEE_lowl_lowE_lensing.tar.gz
plikHM_TTTEEE_lowl_lowE_lensing/
plikHM_TTTEEE_lowl_lowE_lensing_NS.tar.gz
plikHM_TTTEEE_lowl_lowE_lensing_NS/
