__pycache__
*.pyc
.eggs
.ipynb_checkpoints
dist
anesthetic.egg-info/
build
plikHM_TTTEEE_lowl_lowE_lensing.tar.gz
plikHM_TTTEEE_lowl_lowE_lensing/
plikHM_TTTEEE_lowl_lowE_lensing_NS.tar.gz
plikHM_TTTEEE_lowl_lowE_lensing_NS/
.idea/*
*~
.pytest_cache/*
.coverage
